/* Styling for the user profile component  */
.spacing {
  padding: 3%;
}

.wrapper {
  padding: 5%;
}

.savedDecks {
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #f0f0f0;
}

.newDeck {
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #f0f0f0;
}

@media only screen and (min-width: 481px) {
  .wrapper {
    margin-right: 15%;
  }

  .user {
    float: left;
    overflow: auto;
  }

  .userStats {
    float: right;
  }

  .format-rates article {
    float: left;
    padding-right: 38%;
  }
}

@media only screen and (min-width: 1025px) {
  .wrapper {
    margin-right: 18%;
  }
}
