<!-- The user's profile page displays the user's name, avatar/picture,
the user's total win rate, total earnings, format win rates, and a list of
recent entries that can expand to view the user's entire history. (Create a
component to implement this feature.) A button to enter new results exists on
this page. (A separate component will handle the form layout for submissions)
Need to include a component to to allow the user to enter contructed decks they
use often.
-->

<div class="wrapper">

  <button mat-raised-button class="savedDecks">View Saved Decks</button>
  <button mat-raised-button class="newDeck">Add New Deck</button>

  <div style="clear:both;"></div> <!-- clears float -->
  <div class="user">
    <app-user-card></app-user-card>
  </div>

  <div class="spacing"></div>

  <div class="userStats">
    <app-overall-rate></app-overall-rate>

    <div class="spacing"></div>

    <app-overall-earnings></app-overall-earnings>

    <div class="spacing"></div>

  <!-- Maybe change to a dialogue box later -->
    <div class="newData">
      <button mat-raised-button (click)="addResult($event)">Add Results</button>
    </div>
  </div> <!-- End of userStats Area -->

  <div style="clear:both;"></div> <!-- clears float -->

  <div class="format-rates">
    <h2>Format Win Rates</h2>
  <!-- Creates tabs to separate format win rate data -->
    <mat-tab-group>
      <mat-tab label="Constructed">
        <app-constructed-table></app-constructed-table>
      </mat-tab>
      <mat-tab label="Limited">
        <app-limited-table></app-limited-table>
      </mat-tab>
    </mat-tab-group>
  </div> <!-- End of format win rate section -->
</div> <!-- End of wrapper -->

<!-- Use paginator for listing result history or
    have the history accessible as a button/link
    on the format win rate table. -->
