.example-card {
  /* Need to adjust styling for mobile & desktop */
  max-width: 90%;
  background-color: #F0F0F0;
}

.spacing {
  padding: 3%;
}

mat-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 5%;
}

mat-card-content {
  text-align: center;
  font-size: 1em;
}

table {
  width: 100%;
  background-color: inherit;
  border-style: none;
  box-shadow: none;
}

table th {
  font-weight: bold;
  padding: 1%;
  text-align: center;
}

table td {
  padding: 1%;
  text-align: center;
}
